{% extends 'samples/base.html' %}
{% block title %}파일업로드{% endblock %}
{% block content %}
<h1><a href="/samples">샘플 리스트</a> > 파일업로드</h1>
<ul>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>
    {{ saved_file }}
</ul>
{% endblock %}
{% block script %}
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var inputElement = document.getElementById('id_title');
        inputElement.value = generateRandomName();
    });
</script>
{% endblock %}