<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <style>
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
    <p>Created at: {{ post.created_at }}</p>
    <p>Updated at: {{ post.updated_at }}</p>

    <h2>Images</h2>
    <ul>
        {% for image in images %}
            <li>
                <img src="/images/{{ image.uploaded_path }}" alt="{{ image.orginal_file_name }}">
                <p>{{ image.orginal_file_name }}</p>
            </li>
        {% endfor %}
    </ul>

    <h2>Tags</h2>
    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }}</li>
        {% endfor %}
    </ul>
    <h5>{{ post.replies.count }}개의 답변이 있습니다.</h5>
    <div>
        <ul>
        {% for reply in post.replies.all %}
            <li>{{ reply.content }}</li>
        {% endfor %}
        </ul>
    </div>
    <form action="{% url 'blog:reply_write' post.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
    </form>

</body>
</html>