{% extends '../base.html' %}
{% load blog_filter %}
{% block title %}WHAT SUP's Blog{% endblock %}
{% block head %}
<style>
    body {
        background-color: #f0f0f0;
    }

    main {
        width: 1000px;
    }

    header {
        {% comment %} height: 80px;
        background-color: #333;
        color: white; {% endcomment %}
        padding: 10px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 2em;
    }
</style>
<!-- https://simplemde.com/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}
{% block content %}

<!--

작업 리스트
1 . main 

-->
<div class="container">
    <h5 class="my-3 border-bottom pb-2" id="hiddenButton" style="cursor:pointer">New Post</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select class="form-select" name="category" id="category">
                <option value="">선택하세요</option>
                {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if form.category.value == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                    id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">태그</label>
            <input type="text" class="form-control" name="tags" id="tags" value="{{ form.tags.value|tags_to_string }}">
        </div>
        {% comment %} <div class="mb-3">
            <label for="image" class="form-label">이미지 1</label>
            <input type="file" class="form-control" name="images" id="image1">
            <label for="image" class="form-label">이미지 2</label>
            <input type="file" class="form-control" name="images" id="image2">
            <label for="image" class="form-label">이미지 3</label>
            <input type="file" class="form-control" name="images" id="image3">
        </div> {% endcomment %}
        <button type="submit" class="btn btn-secondary">submit</button>
    </form>
</div>
{% endblock%}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script> {% endcomment %}

<script>

    document.getElementById('hiddenButton').addEventListener('click', function () {
        setRandomText();
    });

    const setRandomText = () => {
        document.getElementById('title').value = generateRandomName();
        document.getElementById('content').value = getRandomLyric();
    }

    document.addEventListener('DOMContentLoaded', function () {
        //document.getElementById('title').value = generateRandomName();
        //document.getElementById('content').value = getRandomLyric();
        var simplemde = new SimpleMDE({
             element: document.getElementById("content"),
             renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            },
        });
    });

    

</script>
{% endblock %}