{% extends '../base.html' %}
{% load blog_filter %}
{% block title %}WHAT SUP's Blog{% endblock %}
{% block head %}
<style>
    body {
        background-color: #f0f0f0;
    }

    main {
        width: 1000px;
    }

    header {
        {% comment %} height: 80px;
        background-color: #333;
        color: white; {% endcomment %}
        padding: 10px;
        border-bottom: 1px solid #ccc;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-title {
        font-size: 2em;
    }
</style>
<!-- https://simplemde.com/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">

{% endblock %}
{% block content %}

<!--

작업 리스트
1 . main 

-->
<div class="container">
    <h5 class="my-3 border-bottom pb-2" id="hiddenButton" style="cursor:pointer">New Post</h5>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- 오류표시 Start -->
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        <!-- 오류표시 End -->
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" name="title" id="title"
                value="{{ form.title.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">카테고리</label>
            <select class="form-select" name="category" id="category">
                <option value="">선택하세요</option>
                {% for category in categories %}
                <option value="{{ category.id }}"
                    {% if form.category.value == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" name="content"
                    id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">태그 ('#'로 구분해주세요 예: #태그 #해쉬태그)</label>
            <input type="text" class="form-control" name="tags" id="tags" data-input-formating-tag="#" value="{{ tags_text }}">
        </div>
        <div class="mb-3">
            <label for="show_yn" class="form-label">공개여부</label>
            <input type="checkbox" class="form-check-input" name="show_yn" id="show_yn"
                {% if form.show_yn.value == 'Y' %}checked{% endif %}>
        </div>
        <button type="submit" class="btn btn-secondary">submit</button>
    </form>
</div>
{% endblock%}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- and it's easy to individually load additional languages -->
{% comment %} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/go.min.js"></script> {% endcomment %}

<script type="module">
    import { Util } from '/static/js/util.js';
    const u = new Util();

    document.getElementById('hiddenButton').addEventListener('click', function () {
        setRandomText();
    });

    const setRandomText = () => {
        document.getElementById('title').value = u.randomTextShort;
        document.getElementById('content').value = u.randomTextLong;

    }

    document.addEventListener('DOMContentLoaded', function () {

        // 상수 정의
        const ATTRIBUTE_NAME = 'data-input-formating-tag';

        // data-ael-keydown="#" 속성을 가진 모든 요소 선택
        var elements = document.querySelectorAll(`[${ATTRIBUTE_NAME}]`);
            
        elements.forEach(function(element) {
            // 공통 로직을 함수로 정의
            const formatInput = (event) => {
                let delimiter = element.getAttribute(ATTRIBUTE_NAME);
                let input = event.target.value;
                // map() : 배열의 모든값 수정, filter() : 배열의 조건에 맞는 값만 반환, part => part = truty 값만 반환
                let parts = input.split(delimiter).map(part => part.trim()).filter(part => part);
                // Set 객체 = 중복값 허용 X, [...Set] = Set 객체를 배열로 변환
                let uniqueParts = [...new Set(parts)];
                // 각 부분에 delimiter를 붙이고, 맨 앞을 제외한 부분에 공백 추가
                let text = uniqueParts.map((part, index) => index === 0 ? `${delimiter}${part}` : ` ${delimiter}${part}`).join('');
                // 입력된 텍스트를 변경
                event.target.value = text + ' ';

                // 해야할 작업: 여기 나중에 s5.html 이용해서 중복값 제거 만든다
            };

            // keydown 이벤트 리스너 추가
            element.addEventListener('keydown', function(event) {
                let delimiter = element.getAttribute(ATTRIBUTE_NAME);
                if (event.key === delimiter) {
                    formatInput(event);
                }
            });

            // blur 이벤트 리스너 추가
            element.addEventListener('blur', function(event) {
                formatInput(event);
            });
        });

        var simplemde = new SimpleMDE({
             element: document.getElementById("content"),
             renderingConfig: {
                singleLineBreaks: false,
                codeSyntaxHighlighting: true,
            },
        });
    });

</script>
{% endblock %}