{% extends '../base.html' %}
{% load static %}
{% load blog_filter %}
{% block title %}WHAT SUP's Blog{% endblock %}
{% block head %}
<!-- https://simplemde.com/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<!-- https://highlightjs.org/ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
{% endblock %}
{% block content %}
<div class="container my-3">
    <!-- 게시글 -->
    <h2 class="border-bottom py-2">{% if post.show_yn == "N" %}(비공개) {% endif %}{{ post.title }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ post.content|mark }}</div>
            <div class="d-flex justify-content-between mt-3">
                <div>
                    {% for image in post.images.all %}
                    <img src="/images/{{ image.uploaded_path }}" alt="{{ image.orginal_file_name }}" class="img-thumbnail hys-img-type1">
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex justify-content-between mt-1">
                <div>
                    {% for tag in post.tags.all %}
                    <span class="badge bg-secondary text-light">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ post.author.nickname }}</div>
                    <div>{{ post.created_at }}</div>
                </div>
            </div>
            <div class="my-3">
                {% if request.user == post.author %}
                <a href="{% url 'blog:post_wirte_re' post.id  %}" 
                   class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
                   data-uri="{% url 'blog:post_remove' post.id  %}">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 답변 -->
    <h5 class="border-bottom my-3 py-2">{{post.replies.count}}개의 답변이 있습니다.</h5>
    {% for reply in post.replies.all %}
    <div class="card my-3">
        <div class="card-body" data-reply-id="{{ reply.post_id}}{{reply.id}}">
            <div class="card-text area-view" style="white-space: pre-line;">{{ reply.content|mark }}</div>
            <div class="card-text area-edit hidden">
                <form action="{% url 'blog:reply_write_re' reply.id %}" method="post" data-reply-id="{{ reply.post_id}}{{reply.id}}">
                    {% csrf_token %}
                    <textarea name="content" data-is-simplemde="on">{{ reply.content }}</textarea>
                </form>
                {% comment %} <form action="{% url 'blog:reply_remove' reply.id %}" method="post">
                    {% csrf_token %}
                </form> {% endcomment %}
            </div>
            <div class="d-flex justify-content-between">
                <div class="my-3">
                    {% if request.user == reply.author %}
                    <button class="btn btn-sm btn-outline-secondary area-view" data-event="edit">수정</button>
                    {% comment %} <button class="btn btn-sm btn-outline-secondary area-view" data-event="delete">삭제</button> {% endcomment %}
                    <button class="btn btn-sm btn-outline-secondary area-edit hidden" data-event="submit">확인</button>
                    <button class="btn btn-sm btn-outline-secondary area-edit hidden" data-event="cancel">취소</button>
                    {% endif %}
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ reply.author.nickname }}</div>
                    <div> {{ reply.created_at }}</div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 답변 등록 -->
    <form action="{% url 'blog:reply_write' post.id %}" method="post" class="my-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="content" class="form-label">답변내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %}
            name="content" data-is-simplemde="on" class="form-control" rows="10"></textarea>
        </div>
        {% if user.is_authenticated %}
        <input type="submit" value="답변등록" class="btn btn-secondary">
        {% endif %}
    </form>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    

    document.addEventListener('DOMContentLoaded', function () {

        document.addEventListener('click', function() {
            console.log("activeElement: " + document.activeElement);
        });

        const ATTRIBUTE_NAME = 'data-is-simplemde';
        var elements = document.querySelectorAll(`[${ATTRIBUTE_NAME}]`);
            
        elements.forEach(function(element) {
            var simplemde = new SimpleMDE({
                element: element,
                renderingConfig: {
                    singleLineBreaks: false,
                    codeSyntaxHighlighting: true,
                },
            });

            const attr_name_rid = 'data-reply-id';

            let card_body = element.closest('.card-body');
            if (!card_body) return;

            let rid = card_body.getAttribute(attr_name_rid);
            let editbutton = card_body.querySelector(`button[data-event="edit"]`);
            let submitButton = card_body.querySelector(`button[data-event="submit"]`);
            let cancelButton = card_body.querySelector(`button[data-event="cancel"]`);
            //let deleteButton = card_body.querySelector(`button[data-event="delete"]`);

            if (!editbutton || !submitButton || !cancelButton) return;
            //if (!editbutton || !submitButton || !cancelButton || !deleteButton) return;

            // 수정모드
            editbutton.addEventListener('click', function() {

                document.querySelectorAll('.area-view').forEach(function(element) {
                    element.classList.remove('hidden');
                });
                document.querySelectorAll('.area-edit').forEach(function(element) {
                    element.classList.add('hidden');
                });

                card_body.querySelectorAll('.area-view').forEach(function(element) {
                    element.classList.add('hidden');
                });
                card_body.querySelectorAll('.area-edit').forEach(function(element) {
                    element.classList.remove('hidden');
                });
                // 하나만 빼고
                //editbutton.classList.add('hidden');

                // 으아니 왜 포커스 안됨?
                simplemde.codemirror.focus();
            });

            
            submitButton.addEventListener('click', function() {
                const form = document.querySelector(`form[${attr_name_rid}="${rid}"]`);
                form.submit();
            });
            
            cancelButton.addEventListener('click', function() {
                document.querySelectorAll('.area-view').forEach(function(element) {
                    element.classList.remove('hidden');
                });
                document.querySelectorAll('.area-edit').forEach(function(element) {
                    element.classList.add('hidden');
                });
            });

            deleteButton.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {

                }
            });

        });

       hljs.highlightAll();
    });
</script>
{% endblock %}