{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}?=v{% now "YmdHis" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- 네비게이션바 -->
    {% include "blog/navbar.html" %}
    {% block content %}
    {% endblock %}
</body>
<script src="{% static 'js/common.js' %}?=ver{% now "YmdHis" %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block script %}
{% endblock %}
</html>