{% extends 'base.html' %}
{% load static %}
{% load blog_filter %}
{% block title %}HAPPYYS{% endblock %}
{% block head %}
    <style>
        body {
            background-color: black;
        }

        div.content {
            text-align: center;
            padding-top: 100px;
        }

        img.thumnail {
            border-radius: 50%;
            width: 500px;
        }

        header {
            display: flex;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="content">
    <header>
        <h1>Comming Soon...</h1>
        {% comment %} <ul>
            <li><a href="{% url 'blog:index' %}">blog</a></li>
            <li><a href="{% url 'isg:index' %}">인생게임</a></li>
        </ul> {% endcomment %}
    </header>
    <img class="thumnail" src="{% static 'images/thumnail.jpg' %}" alt="Happyys">
</div>
{% endblock %}